<div class="lora-gateway-dashboard-header">
    <div class="col-sm-12 col-md-12 col-lg-12 text-left">
        <p class="pull-left"> Indoor IoT Gateway</p>
        <a class="btn btn-danger pull-right" href="/logout">Log out</a>
    </div>
</div>