<div class="lora-gateway-dashboard-header">
    <div class="col-sm-12 col-md-12 col-lg-12 text-left">
        <p class="lora-gateway-dashboard-header-content">Appropolis Indoor IoT Gateway</p>
    </div>
</div>